<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>EchoPress</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="icon" href="../static/img/favicon.png" type="image/png" />

</head>

<body>
  <!-- Header -->
  <header class="header">
    <a href="/" class="logo">EchoPress</a>
    <div class="search-container">
      <input type="text" placeholder="Search for news..." />
      <button>Search</button>
    </div>
    <div class="auth-buttons">
      <a href="/login" class="signin">Sign In</a>
      <a href="/register" class="register">Register</a>
    </div>
  </header>

  <!-- Navigation -->
  <nav class="navbar">
    <a href="#">For You</a>
    <a href="#">Trending</a>
    <a href="#">Politics</a>
    <a href="#">Sports</a>
    <a href="#">Technology</a>
    <a href="#">Economic</a>
    <a href="#">AsiaNews</a>
    <a href="#">WorldNews</a>
  </nav>

  <!-- Main Content -->
  <main class="main-content">
    <!-- Articles -->
    <section class="articles">
      <article class="article sel-article">
        <div class="text">
          <h1 class="main-title">
            Jail for money mule who was promised $100 a day to withdraw cash
            for scammers
          </h1>
          <img src="../static/img/scam.jpg" alt="kpod thumbnail" class="image" />
          <p class="small-text" style="text-align: left;">
            SINGAPORE – A financially strapped man withdrew scam proceeds in cash from ATMs to earn $100 a day so that
            he could buy diapers and milk powder for his newborn child.

            Yves Quah Jun Boon, 24, was sentenced to eight months’ jail on Sept 5 after he withdrew more than $150,000
            from various ATMs in one day in June 2023.

            He pleaded guilty to money laundering and a charge under the Computer Misuse Act.

            Deputy Public Prosecutor Tan Jing Min said Quah often confided in his primary school friend, identified in
            court documents as Wei Jian, about his financial struggles – he needed money to pay for the needs of his
            newborn child.

            In June 2023, Wei Jian told Quah about an opportunity to earn $100 a day by withdrawing cash from ATMs.

            That month, Wei Jian and Quah met another man, named Ryan, to collect seven ATM cards registered under three
            different names, SIM cards and a mobile phone.

            Ryan told Quah that it was guaranteed to be a “safe job” and that the personal identification number, or
            PIN, for all the ATM cards was the same.
            Despite suspecting that he was asked to withdraw criminal proceeds, Quah went ahead with the job.

            On June 25, he withdrew $151,280 from ATMs at Woodlands Civic Centre and Ngee Ann City.

            When an ATM card prevented him from withdrawing money, he threw the card away.

            DPP Tan said Quah made at least 20 unauthorised withdrawals on that day.

            Quah then handed over the cash to a member of a money laundering syndicate, identified in court documents as
            Siyuan, at the Ngee Ann City carpark.

            Siyuan told Quah that $120 was missing and the amount would be deducted from Quah’s salary. This effectively
            meant that Quah would not be paid for what he did that day.

            Soon after this took place, the police arrived at the carpark, acting on a tip-off. Quah, Siyuan and Wei
            Jian were arrested and the $151,280 in cash was seized.

            The prosecutor asked for an eight-month jail term for Quah.

            She said: “The accused was not a traditional money mule... but he was part of the ecosystem that launders
            criminal proceeds, by withdrawing monies that had been deposited into money mules’ bank accounts.”

            Those convicted of money laundering can be jailed for up to 10 years, fined up to $500,000, or both.


          </p>
          <p>
            Nadine Chua <br>
            Published Sep 05, 2025, 02:05 PM <br>
            Updated Sep 05, 2025, 03:20 PM
          </p>
        </div>
      </article>
    </section>

    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="register-box">
        <p>
          Join us now as a registered member and be part of our discussion
          community!
        </p>
        <button class="register">Register for Free</button>
      </div>
      <div class="ads">
        <h3>Ads</h3>
      </div>
    </aside>
  </main>
</body>

</html>