<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>EchoPress</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="icon" href="../static/img/favicon.png" type="image/png" />

</head>

<body>
  <!-- Header -->
  <header class="header">
    <a href="/" class="logo">EchoPress</a>
    <div class="search-container">
      <input type="text" placeholder="Search for news..." />
      <button>Search</button>
    </div>
    <div class="auth-buttons">
      <button class="signin">Sign In</button>
      <button class="register">Register</button>
    </div>
  </header>

  <!-- Navigation -->
  <nav class="navbar">
    <a href="#">For You</a>
    <a href="#">Trending</a>
    <a href="#">Politics</a>
    <a href="#">Sports</a>
    <a href="#">Technology</a>
    <a href="#">Economic</a>
    <a href="#">AsiaNews</a>
    <a href="#">WorldNews</a>
  </nav>

  <!-- Main Content -->
  <main class="main-content">
    <!-- Articles -->
    <section class="articles">
      <article class="article sel-article">
        <div class="text">
          <h1 class="main-title">
            Woman charged over possessing almost 200 etomidate-laced vapes,
            buying another 50
          </h1>
          <img src="../static/img/sel-kpod.jpeg" alt="kpod thumbnail" class="image" />
          <p class="small-text" style="text-align: left;">
            SINGAPORE – A woman was charged over possessing 195 etomidate-laced vapes, or Kpods, and buying another 50
            such pods on separate occasions in 2024.

            On Sept 4, Law Jia Yi, 23, was handed five charges in relation to vapes.

            She was also charged over possessing a knife with a 20cm-long blade, a card knife and a screwdriver without
            lawful purposes in August 2024 at a carpark in Yishun.

            For Law’s vape-related charges, she allegedly had 55 Kpods and four vapes in Yishun Avenue 5 on Aug 9, 2024.

            That month, she also purportedly bought 50 Kpods in Geylang. It was not stated in court documents where or
            whom she bought them from.

            Separately, Law is accused of possessing 49 vape pods in Yishun, which were later analysed and found to
            contain etomidate.

            Law also allegedly had 98 vape pods and two vapes in Sentosa, in Siloso Road. She is also said to have had
            91 Kpods at the same location.
            Law’s case has been scheduled for a pre-trial conference on Sept 11.

            On Sept 3, a 17-year-old boy was charged with possessing a vape device containing a cannabis-related
            substance.

            In his National Day Rally speech in August, Prime Minister Lawrence Wong said the Government will treat
            vaping as a drug issue and impose stiffer penalties.

            Since Sept 1, first-time etomidate abusers below 18 years old will be fined $500, while adults will be fined
            $700. This is a $200 increase for each group.

            They must also attend mandatory rehabilitation for up to six months.

            Sellers of Kpods will face higher penalties under the Misuse of Drugs Act.

            Those who import Kpods will face between three and 20 years’ jail, and between five and 15 strokes of the
            cane.

            Those convicted of selling or distributing Kpods will face between two and 10 years’ jail, and receive
            between two and five strokes of the cane.

            The public can report vaping offences to the Tobacco Regulation Branch on 6684-2036 or 6684-2037 from 9am to
            9pm daily, or online at go.gov.sg/reportvape

            Those using Kpods can seek help through a national programme called QuitVape. More information on vaping can
            be found at gov.sg/stopvaping, a microsite launched in August to consolidate resources, helplines and
            reporting avenues.

            The authorities have said that those who voluntarily seek support to quit vaping will not face any penalties
            for doing so.
          </p>
          <p>
            Nadine Chua <br>
            Published Sep 04, 2025, 05:45 PM<br>
            Updated Sep 05, 2025, 12:16 AM
          </p>
        </div>
      </article>
    </section>

    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="register-box">
        <p>
          Join us now as a registered member and be part of our discussion
          community!
        </p>
        <button class="register">Register for Free</button>
      </div>
      <div class="ads">
        <h3>Ads</h3>
      </div>
    </aside>
  </main>
</body>

</html>