<!-- templates/mainpage.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Members Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Welcome to the Members Profile</h1>
    <p>Leader: Lim Zi Ting 8335254: Leave NIL, Computer Science (Big Data) <br><br>

        Team Members: <br>
        Nicole Chong Lay Teng 8950465: Computer Science (Digital System Security)<br>
        Wong Yiyang 8336520: Computer Science (Digital System Security)<br>
        Timothy Toh 8931902:  Computer Science (Digital System Security)<br>
        Lim Ming Wee 8378514: Business Information System <br>
    </p>
        <div class="link-container">
        <a href="/">Go to Main Page</a>
        <a href="/ProjectDoc">Go to Project Documents Page</a>  
        </div>
</body>
</html>
