<!-- templates/mainpage.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Project Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Welcome to the Project Documents</h1>
        <p>
            a page consisting of all project documentations (works in progress) for communication among team members
        </p>


        <div class="link-container">
        <a href="/">Go to Main Page</a>
        <a href="/members">Go to Members Page</a>  
        </div>
</body>
</html>
